body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}
.wrapper-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.wrapper-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.white_txt {
  color: white;
  font-weight: 400;
}
.bold_white {
  color: white;
  font-weight: 700;
}
.gold_txt {
  color: #ffaa17;
}
.link_txt {
  color: #fb6d3a;
}
aside {
  background-color: #1e2939;
  /*color: white;*/
  width: 370px;
}
main {
  background-color: #ffffff;
  color: #595959;
  margin: 102px 88px 102px 88px;
  width: 600px;
  /*wg mnie 400 jest za wąskie i różne szerokosci nie pasują*/
}
.orange_txt {
  color: #fb6d3a;
}
.job_title {
  color: black;
  font-weight: 700;
  font-size: 14px;
}
.date_time_txt {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.right_txt_bold {
  text-align: right;
  font-weight: 700;
}
h2 {
  color: black;
}

.img_portrait {
  margin: 25px 0 0 0;
}
.left_margin {
  margin: 51px 0px 0px 40px;
}
ol {
  margin-left: -20px;
  color: black;
  font-weight: 700;
}
ul {
  color: black;
  margin-left: -20px;
  font-size: 14px;
  line-height: 24px;
}
h1 {
  color: black;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
h3 {
  color: black;
}
h4 {
  color: black;
}
